$verde:#8BBF32;
$verde-detalle:#00BB56;
$naranja-editar:#CC6200;
$verde-suave:#F1F7E6;
$celeste:#2399DB;
$celeste-suave:#61c0f7;
$verde-agua:#007D85;
$azul-suave:#1F77DE;
$vede-agua-claro:#1b848b;
$rojo: #f6556042;
$fucsia: #CD3EA5;
$carmesi: #DE1F4D;
$blanco:#ffffff;
$negro-suave:#353535;
$gris:#353535;
$gris-suave:#dadada;
$gris-sombra:#35353536;
$gris-sombra-suerte:#3535358c;
$blanco-debil:#f1f1f1;